daily-notes.json
plugins/obsidian-commits/data.json
plugins/obsidian-day-planner/data.json
plugins/templater-obsidian/data.json
plugins/remember-cursor-position/cursor-positions.json
/.obsidian/core-plugins.json
/.obsidian/graph.json
/.obsidian/workspace
/.obsidian/workspaces.json
/.obsidian/workspace.json